Repository ScriptonBasestar/sb-obsidian-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck', bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter @sb-obsidian-plugins/shared run typecheck'

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "plugins/{git-sync,metadata-manager,publisher-scripton}/src/**/*.ts": [
    "bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck'"
  ],
  "shared/src/**/*.ts": [
    "bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter @sb-obsidian-plugins/shared run typecheck'"
  ]
}

task: done to qa
  tasks/qa-processing-report.md
  tasks/qa/manual/obsidian-plugins-integration.qa.md
Due: prettier --write

feat: doc for spec
  SPEC.md
Due: prettier --write

doc: spec for plugins
  SPEC.md
Due: prettier --write

chore(claude): TypeScript/ESLint 설정 강화
  plugins/blog-platform-export/tsconfig.json
  plugins/metadata-manager/.eslintrc.js
  plugins/metadata-manager/tsconfig.json
  plugins/publisher-scripton/.eslintrc.js
  plugins/publisher-scripton/tsconfig.json
  plugins/scripton-sync/.eslintrc.js
  plugins/scripton-sync/tsconfig.json
  plugins/template-generator/.eslintrc.js
  plugins/template-generator/tsconfig.json
  plugins/wikijs-sync/tsconfig.json
  shared/.eslintrc.cjs
Due: eslint --fix --max-warnings 0, prettier --write

fix(claude): scripton-sync lint 오류 수정
  plugins/scripton-sync/README.md
  plugins/scripton-sync/manifest.json
  plugins/scripton-sync/package.json
  plugins/scripton-sync/src/backup-manager.ts
  plugins/scripton-sync/src/core/git-service.ts
  plugins/scripton-sync/src/core/scripton-cloud-client.ts
  plugins/scripton-sync/src/features/auto-commit-service.ts
  plugins/scripton-sync/src/features/branch-strategy.ts
  plugins/scripton-sync/src/features/llm-service.ts
  plugins/scripton-sync/src/git-manager.ts
  plugins/scripton-sync/src/history-viewer.ts
  plugins/scripton-sync/src/init-wizard.ts
  plugins/scripton-sync/src/main.ts
  plugins/scripton-sync/src/profile-manager.ts
  plugins/scripton-sync/src/settings-comparison.ts
  plugins/scripton-sync/src/settings-parser.ts
  plugins/scripton-sync/src/settings.ts
  plugins/scripton-sync/src/sync-manager.ts
  plugins/scripton-sync/src/types.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(claude): metadata-manager lint 오류 수정
  plugins/metadata-manager/src/__mocks__/obsidian.ts
  plugins/metadata-manager/src/main.ts
  plugins/metadata-manager/src/types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck'

fix(claude): publisher-scripton lint 오류 수정
  plugins/publisher-scripton/src/__mocks__/obsidian.ts
  plugins/publisher-scripton/src/main.ts
  plugins/publisher-scripton/src/scripton-api-service.ts
  plugins/publisher-scripton/src/types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck'

fix(claude): shared 라이브러리 lint 오류 수정
  shared/src/error-handler.ts
  shared/src/index.ts
  shared/src/state-manager.ts
  shared/src/task-runner.ts
  shared/src/test-utils/index.ts
  shared/src/test-utils/mock-app.ts
  shared/src/test-utils/mock-plugin.ts
  shared/src/test-utils/mock-vault.ts
  shared/src/test-utils/mock-workspace.ts
  shared/src/test-utils/test-helpers.ts
  shared/src/ui-components.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter @sb-obsidian-plugins/shared run typecheck'

fix(claude): template-generator lint 오류 수정
  plugins/template-generator/src/commands.test.ts
  plugins/template-generator/src/template-engine.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: delete local claude settings
  .claude/settings.local.json
Due: prettier --write

fix(claude): TypeScript strict mode errors in conversion-engine.ts
  plugins/blog-platform-export/src/conversion-engine.ts
  plugins/blog-platform-export/src/types.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(claude): 기본 TypeScript 오류 수정 - WIP
  plugins/blog-platform-export/esbuild.config.mjs
  plugins/blog-platform-export/package.json
  plugins/blog-platform-export/src/asset-manager.ts
  plugins/blog-platform-export/src/export-manager.ts
  plugins/blog-platform-export/src/main.ts
  plugins/blog-platform-export/src/types.ts
  plugins/blog-platform-export/src/ui/export-modal.ts
  plugins/blog-platform-export/tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

fix(claude): 남은 TypeScript 엄격 모드 오류 수정
  plugins/blog-platform-export/src/asset-manager.ts
  plugins/blog-platform-export/src/export-manager.ts
  plugins/blog-platform-export/src/ui/export-modal.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(claude): 모든 플러그인 TypeScript 완전 호환 및 빌드 시스템 통합
  plugins/template-generator/.eslintrc.js
  plugins/template-generator/esbuild.config.mjs
  plugins/template-generator/package.json
  plugins/template-generator/src/commands.test.ts
  plugins/template-generator/src/main.ts
  plugins/template-generator/src/template-cache.ts
  plugins/template-generator/src/template-engine.ts
  plugins/template-generator/src/template-modal.test.ts
  plugins/template-generator/src/template-parser.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: lint, precommit 일치시키기
  .claude/settings.local.json
  data/tasks.json
  plugins/metadata-manager/.eslintrc.js
  plugins/metadata-manager/src/main.ts
  tasks/backlog/lint.md
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck'

fix: lint - fail. noverify
  .claude/settings.local.json
  .husky/pre-push
  .lintstagedrc.json
  plugins/metadata-manager/.eslintrc.js
  plugins/metadata-manager/src/metadata-manager.test.ts
  plugins/publisher-scripton/.eslintrc.js
  plugins/publisher-scripton/src/main.ts
  plugins/scripton-sync/.eslintrc.js
  plugins/template-generator/.eslintrc.js
  pnpm-lock.yaml
  shared/.eslintrc.cjs
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck'

chore: fix lint errors and install commitlint
  commitlint.config.js
  lint-output.txt
  plugins/blog-platform-export/src/main.ts
  plugins/publisher-scripton/src/main.ts
  plugins/publisher-scripton/src/scripton-api-service.ts
  plugins/scripton-sync/src/core/git-service.ts
  plugins/scripton-sync/src/features/auto-commit-service.ts
  plugins/scripton-sync/src/features/llm-service.ts
  plugins/scripton-sync/src/main.ts
  pnpm-lock.yaml
  shared/lint-output-fixed.txt
  shared/src/base-plugin.ts
  shared/src/cli.ts
  shared/src/settings-manager.ts
  shared/src/task-runner.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck', bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter @sb-obsidian-plugins/shared run typecheck'

chore: fix shared library build and ESLint configuration
  .claude/settings.local.json
  package.json
  pnpm-lock.yaml
  shared/.eslintrc.cjs
  shared/src/index.ts
  shared/src/test-utils.disabled/index.ts
  shared/src/test-utils.disabled/mock-app.ts
  shared/src/test-utils.disabled/mock-plugin.ts
  shared/src/test-utils.disabled/mock-vault.ts
  shared/src/test-utils.disabled/mock-workspace.ts
  shared/src/test-utils.disabled/test-helpers.ts
  shared/src/types.ts
  shared/tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter @sb-obsidian-plugins/shared run typecheck'

chore: makefile precommit
  Makefile
Due: none

fix: lint
  plugins/publisher-scripton/package.json
  pnpm-lock.yaml
  vitest.setup.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: lint
  package.json
  plugins/metadata-manager/package.json
  pnpm-lock.yaml
Due: prettier --write

ci(deps): bump GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
Due: prettier --write

chore(deps): update all dependencies to latest stable versions
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  package.json
  plugins/blog-platform-export/package.json
  plugins/metadata-manager/package.json
  plugins/publisher-scripton/package.json
  plugins/scripton-sync/package.json
  plugins/template-generator/package.json
  plugins/wikijs-sync/package.json
  pnpm-lock.yaml
  shared/package.json
Due: prettier --write

chore(husky): migrate hooks to v9 format
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(lint): resolve all ESLint errors across plugins
  plugins/metadata-manager/src/metadata-manager.test.ts
  plugins/publisher-scripton/src/__mocks__/obsidian.ts
  plugins/publisher-scripton/src/main.ts
  plugins/publisher-scripton/src/scripton-api-service.ts
  plugins/scripton-sync/src/core/scripton-cloud-client.ts
  plugins/scripton-sync/src/features/auto-commit-service.ts
  plugins/template-generator/src/commands.test.ts
  plugins/template-generator/src/template-cache.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck'

chore(template-generator): add missing vitest and vite dependencies
  plugins/template-generator/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(build): resolve TypeScript 5.9.3 compilation errors
  plugins/metadata-manager/esbuild.config.mjs
  plugins/metadata-manager/src/__mocks__/obsidian.ts
  plugins/metadata-manager/src/metadata-manager.test.ts
  plugins/publisher-scripton/esbuild.config.mjs
  plugins/publisher-scripton/src/main.ts
  plugins/publisher-scripton/src/publisher-scripton.test.ts
  plugins/publisher-scripton/src/scripton-api-service.ts
  plugins/publisher-scripton/src/types.ts
  pnpm-lock.yaml
  shared/package.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck'

fix(tests): resolve test failures after Vitest 4.0 upgrade
  plugins/metadata-manager/src/metadata-manager.test.ts
  plugins/publisher-scripton/src/publisher-scripton.test.ts
  test-utils/obsidian-mock.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'cd $(git rev-parse --show-toplevel) && pnpm --filter $(basename $(dirname $(dirname $0))) run typecheck'

docs(monorepo): update CHANGELOG with dependency upgrades and test fixes
  CHANGELOG.md
Due: prettier --write
